<ng-template appConfirm>
  <app-confirm-modal></app-confirm-modal>
</ng-template>
<div class="container">
  <button type="button" class="btn btn-sm btn-primary" (click)="onStartManageEmployee(false)">
    dodaj pracownika
  </button>

  <app-sidebar title="dodawanie pracownika" #manageEmployeeSidebar>

    <form [formGroup]="employeeForm" (ngSubmit)="onManageEmployee()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="firstname">imię</label>
            <input class="form-control form-control-sm" type="text" id="firstname" formControlName="firstname">
            <div class="alert alert-danger small" *ngIf="employeeForm.get('firstname').invalid">pole wymagane</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="surname">nazwisko</label>
            <input class="form-control form-control-sm" type="text" id="surname" formControlName="surname">
            <div class="alert alert-danger small" *ngIf="employeeForm.get('surname').invalid">pole wymagane</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="email">email</label>
            <input class="form-control form-control-sm" type="email" id="email" formControlName="email">
            <div class="alert alert-danger small" *ngIf="employeeForm.get('email').invalid">proszę podać prawidłowy adres email</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="phone">telefon</label>
            <input class="form-control form-control-sm" type="text" id="phone" formControlName="phone">
            <div class="alert alert-danger small" *ngIf="employeeForm.get('phone').invalid">proszę podać prawidłowy nr telefonu</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-sm btn-primary float-right">{{isEditing ? 'zapisz' : 'dodaj'}}</button>
        </div>
      </div>
    </form>

  </app-sidebar>

  <h4>lista pracowników</h4>
  <div class="d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
  <div class="table-responsive" *ngIf="employeesCount && !isLoading">
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th>imię</th>
        <th>nazwisko</th>
        <th>email</th>
        <th>telefon</th>
        <th>akcje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.firstname}}</td>
        <td>{{employee.surname}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.phone}}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="onStartManageEmployee(true, employee)">
              edytuj
            </button>
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="onDeleteEmployee(employee)">
              usuń
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ngb-pagination *ngIf="employeesCount && !isLoading" [collectionSize]="employeesCount" (pageChange)="pageChange($event)" pageSize="5" [(page)]="page"></ngb-pagination>
  <div class="alert alert-primary" *ngIf="!employeesCount && !isLoading">
    lista pracowników jest pusta
  </div>
</div>
